body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    max-width: 400px;
    margin: 0 auto;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.sign-in {
    background: #86A8CF;
    color: #fff;
}

.sign-up {
    background: #86A8CF;
    color: #fff;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.1);
}




_
